In [47]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import tensorflow as tf
import tensorflow.keras as keras

#  Import and read the charity_data.csv.
import pandas as pd
url = 'https://raw.githubusercontent.com/khadra1/deep-learning-challenge/main/Resources/charity_data.csv'
application_df = pd.read_csv(url)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [48]:
application_df.drop(columns = ['EIN'], inplace=True)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [49]:
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [50]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<1000].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [53]:
counts_name = application_df['NAME'].value_counts()

In [55]:
# Choose a cutoff value and create a list of names_replace to be replaced
# use the variable name names_replace
names_replace = list(counts_name[counts_name<100].index)

In [56]:
# Replace in dataframe
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Remaining")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Remaining                                                             25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [57]:
# Look at CLASSIFICATION value counts for binning
categories=application_df['CLASSIFICATION'].value_counts()
categories

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [58]:
c_category = categories.loc[categories > 1]
c_category

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [59]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(categories [categories <1000].index)
# Replace in dataframe
for classes in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classes,"Remaining")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000        17326
C2000         6074
C1200         4837
Remaining     2261
C3000         1918
C2100         1883
Name: CLASSIFICATION, dtype: int64

In [60]:
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [61]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [62]:
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [69]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=10
hidden_nodes_layer2=20

nn = tf.keras.models.Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='tanh'))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_16"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_34 (Dense)            (None, 10)                720

 dense_35 (Dense)            (None, 20)                220

 dense_36 (Dense)            (None, 1)                 21

=================================================================
Total params: 961
Trainable params: 961
Non-trainable params: 0
_________________________________________________________________

In [70]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [71]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 3ms/step - loss: 0.5435 - accuracy: 0.7194 - val_loss: 0.5076 - val_accuracy: 0.7489
Epoch 2/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5100 - accuracy: 0.7458 - val_loss: 0.4976 - val_accuracy: 0.7590
Epoch 3/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5031 - accuracy: 0.7507 - val_loss: 0.4937 - val_accuracy: 0.7587
Epoch 4/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4999 - accuracy: 0.7532 - val_loss: 0.4924 - val_accuracy: 0.7644
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4982 - accuracy: 0.7526 - val_loss: 0.4908 - val_accuracy: 0.7668
Epoch 6/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4967 - accuracy: 0.7530 - val_loss: 0.4898 - val_accuracy: 0.7670
Epoch 7/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4954 - accuracy: 0.7552 - val_loss: 0.4904 - val_accuracy: 0.7585
Epoch 8/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4950 - accuracy: 0.7553 - val_loss: 0.4914 - val_accuracy: 0.7681
Epoch 9/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4938 - accuracy: 0.7572 - val_loss: 0.4903 - val_accuracy: 0.7642
Epoch 10/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4932 - accuracy: 0.7571 - val_loss: 0.4885 - val_accuracy: 0.7650
Epoch 11/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4922 - accuracy: 0.7571 - val_loss: 0.4884 - val_accuracy: 0.7652
Epoch 12/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4915 - accuracy: 0.7565 - val_loss: 0.4881 - val_accuracy: 0.7606
Epoch 13/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4910 - accuracy: 0.7584 - val_loss: 0.4869 - val_accuracy: 0.7642
Epoch 14/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4903 - accuracy: 0.7577 - val_loss: 0.4890 - val_accuracy: 0.7629
Epoch 15/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4895 - accuracy: 0.7578 - val_loss: 0.4858 - val_accuracy: 0.7639
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4874 - accuracy: 0.7604 - val_loss: 0.4878 - val_accuracy: 0.7632
Epoch 17/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4875 - accuracy: 0.7587 - val_loss: 0.4853 - val_accuracy: 0.7629
Epoch 18/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4875 - accuracy: 0.7582 - val_loss: 0.4857 - val_accuracy: 0.7673
Epoch 19/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4869 - accuracy: 0.7588 - val_loss: 0.4867 - val_accuracy: 0.7619
Epoch 20/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4871 - accuracy: 0.7590 - val_loss: 0.4853 - val_accuracy: 0.7629
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4867 - accuracy: 0.7592 - val_loss: 0.4847 - val_accuracy: 0.7639
Epoch 22/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4865 - accuracy: 0.7572 - val_loss: 0.4875 - val_accuracy: 0.7608
Epoch 23/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4867 - accuracy: 0.7584 - val_loss: 0.4852 - val_accuracy: 0.7626
Epoch 24/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4858 - accuracy: 0.7603 - val_loss: 0.4844 - val_accuracy: 0.7647
Epoch 25/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4858 - accuracy: 0.7605 - val_loss: 0.4835 - val_accuracy: 0.7639
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4854 - accuracy: 0.7596 - val_loss: 0.4844 - val_accuracy: 0.7663
Epoch 27/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4852 - accuracy: 0.7592 - val_loss: 0.4842 - val_accuracy: 0.7665
Epoch 28/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4851 - accuracy: 0.7596 - val_loss: 0.4852 - val_accuracy: 0.7616
Epoch 29/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4849 - accuracy: 0.7603 - val_loss: 0.4845 - val_accuracy: 0.7606
Epoch 30/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4847 - accuracy: 0.7603 - val_loss: 0.4846 - val_accuracy: 0.7642
Epoch 31/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4844 - accuracy: 0.7594 - val_loss: 0.4839 - val_accuracy: 0.7642
Epoch 32/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4842 - accuracy: 0.7599 - val_loss: 0.4841 - val_accuracy: 0.7665
Epoch 33/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4845 - accuracy: 0.7595 - val_loss: 0.4839 - val_accuracy: 0.7642
Epoch 34/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4843 - accuracy: 0.7592 - val_loss: 0.4843 - val_accuracy: 0.7663
Epoch 35/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4838 - accuracy: 0.7615 - val_loss: 0.4850 - val_accuracy: 0.7668
Epoch 36/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4839 - accuracy: 0.7605 - val_loss: 0.4839 - val_accuracy: 0.7644
Epoch 37/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4835 - accuracy: 0.7612 - val_loss: 0.4858 - val_accuracy: 0.7644
Epoch 38/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4835 - accuracy: 0.7601 - val_loss: 0.4851 - val_accuracy: 0.7598
Epoch 39/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4836 - accuracy: 0.7609 - val_loss: 0.4842 - val_accuracy: 0.7668
Epoch 40/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4831 - accuracy: 0.7612 - val_loss: 0.4851 - val_accuracy: 0.7619
Epoch 41/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4832 - accuracy: 0.7604 - val_loss: 0.4835 - val_accuracy: 0.7619
Epoch 42/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4827 - accuracy: 0.7610 - val_loss: 0.4844 - val_accuracy: 0.7657
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4830 - accuracy: 0.7625 - val_loss: 0.4857 - val_accuracy: 0.7665
Epoch 44/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4825 - accuracy: 0.7611 - val_loss: 0.4842 - val_accuracy: 0.7681
Epoch 45/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4829 - accuracy: 0.7614 - val_loss: 0.4860 - val_accuracy: 0.7624
Epoch 46/100
684/684 [==============================] - 4s 5ms/step - loss: 0.4824 - accuracy: 0.7607 - val_loss: 0.4852 - val_accuracy: 0.7632
Epoch 47/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4822 - accuracy: 0.7624 - val_loss: 0.4862 - val_accuracy: 0.7619
Epoch 48/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4820 - accuracy: 0.7627 - val_loss: 0.4863 - val_accuracy: 0.7629
Epoch 49/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4823 - accuracy: 0.7617 - val_loss: 0.4847 - val_accuracy: 0.7616
Epoch 50/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4819 - accuracy: 0.7609 - val_loss: 0.4855 - val_accuracy: 0.7613
Epoch 51/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4818 - accuracy: 0.7614 - val_loss: 0.4854 - val_accuracy: 0.7652
Epoch 52/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4814 - accuracy: 0.7609 - val_loss: 0.4864 - val_accuracy: 0.7626
Epoch 53/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4819 - accuracy: 0.7609 - val_loss: 0.4851 - val_accuracy: 0.7681
Epoch 54/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4817 - accuracy: 0.7613 - val_loss: 0.4874 - val_accuracy: 0.7598
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4814 - accuracy: 0.7616 - val_loss: 0.4859 - val_accuracy: 0.7600
Epoch 56/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4816 - accuracy: 0.7607 - val_loss: 0.4846 - val_accuracy: 0.7606
Epoch 57/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4814 - accuracy: 0.7603 - val_loss: 0.4845 - val_accuracy: 0.7678
Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4812 - accuracy: 0.7620 - val_loss: 0.4871 - val_accuracy: 0.7598
Epoch 59/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4807 - accuracy: 0.7622 - val_loss: 0.4879 - val_accuracy: 0.7613
Epoch 60/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4814 - accuracy: 0.7613 - val_loss: 0.4849 - val_accuracy: 0.7632
Epoch 61/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4812 - accuracy: 0.7630 - val_loss: 0.4853 - val_accuracy: 0.7663
Epoch 62/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4810 - accuracy: 0.7633 - val_loss: 0.4849 - val_accuracy: 0.7637
Epoch 63/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4804 - accuracy: 0.7631 - val_loss: 0.4864 - val_accuracy: 0.7600
Epoch 64/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4808 - accuracy: 0.7616 - val_loss: 0.4848 - val_accuracy: 0.7611
Epoch 65/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4803 - accuracy: 0.7640 - val_loss: 0.4851 - val_accuracy: 0.7634
Epoch 66/100
684/684 [==============================] - 4s 6ms/step - loss: 0.4804 - accuracy: 0.7634 - val_loss: 0.4876 - val_accuracy: 0.7632
Epoch 67/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4804 - accuracy: 0.7628 - val_loss: 0.4871 - val_accuracy: 0.7634
Epoch 68/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4802 - accuracy: 0.7626 - val_loss: 0.4848 - val_accuracy: 0.7657
Epoch 69/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4807 - accuracy: 0.7620 - val_loss: 0.4853 - val_accuracy: 0.7639
Epoch 70/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4803 - accuracy: 0.7626 - val_loss: 0.4855 - val_accuracy: 0.7634
Epoch 71/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4800 - accuracy: 0.7615 - val_loss: 0.4861 - val_accuracy: 0.7629
Epoch 72/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4803 - accuracy: 0.7609 - val_loss: 0.4867 - val_accuracy: 0.7619
Epoch 73/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4801 - accuracy: 0.7628 - val_loss: 0.4855 - val_accuracy: 0.7644
Epoch 74/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4801 - accuracy: 0.7635 - val_loss: 0.4857 - val_accuracy: 0.7637
Epoch 75/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4797 - accuracy: 0.7638 - val_loss: 0.4866 - val_accuracy: 0.7639
Epoch 76/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4799 - accuracy: 0.7616 - val_loss: 0.4844 - val_accuracy: 0.7647
Epoch 77/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4795 - accuracy: 0.7624 - val_loss: 0.4854 - val_accuracy: 0.7632
Epoch 78/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4796 - accuracy: 0.7627 - val_loss: 0.4859 - val_accuracy: 0.7678
Epoch 79/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4792 - accuracy: 0.7630 - val_loss: 0.4849 - val_accuracy: 0.7626
Epoch 80/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4795 - accuracy: 0.7647 - val_loss: 0.4889 - val_accuracy: 0.7616
Epoch 81/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4794 - accuracy: 0.7643 - val_loss: 0.4859 - val_accuracy: 0.7650
Epoch 82/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4798 - accuracy: 0.7614 - val_loss: 0.4846 - val_accuracy: 0.7650
Epoch 83/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4796 - accuracy: 0.7623 - val_loss: 0.4855 - val_accuracy: 0.7624
Epoch 84/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4792 - accuracy: 0.7625 - val_loss: 0.4859 - val_accuracy: 0.7647
Epoch 85/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4794 - accuracy: 0.7630 - val_loss: 0.4856 - val_accuracy: 0.7668
Epoch 86/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4794 - accuracy: 0.7634 - val_loss: 0.4854 - val_accuracy: 0.7632
Epoch 87/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4794 - accuracy: 0.7626 - val_loss: 0.4865 - val_accuracy: 0.7629
Epoch 88/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4792 - accuracy: 0.7625 - val_loss: 0.4856 - val_accuracy: 0.7642
Epoch 89/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4791 - accuracy: 0.7630 - val_loss: 0.4851 - val_accuracy: 0.7637
Epoch 90/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4792 - accuracy: 0.7635 - val_loss: 0.4854 - val_accuracy: 0.7634
Epoch 91/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4791 - accuracy: 0.7645 - val_loss: 0.4858 - val_accuracy: 0.7629
Epoch 92/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4790 - accuracy: 0.7642 - val_loss: 0.4879 - val_accuracy: 0.7608
Epoch 93/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4793 - accuracy: 0.7627 - val_loss: 0.4845 - val_accuracy: 0.7655
Epoch 94/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4786 - accuracy: 0.7636 - val_loss: 0.4881 - val_accuracy: 0.7613
Epoch 95/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4792 - accuracy: 0.7625 - val_loss: 0.4856 - val_accuracy: 0.7678
Epoch 96/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4789 - accuracy: 0.7630 - val_loss: 0.4862 - val_accuracy: 0.7644
Epoch 97/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4788 - accuracy: 0.7636 - val_loss: 0.4865 - val_accuracy: 0.7668
Epoch 98/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4789 - accuracy: 0.7622 - val_loss: 0.4851 - val_accuracy: 0.7663
Epoch 99/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4788 - accuracy: 0.7640 - val_loss: 0.4856 - val_accuracy: 0.7626
Epoch 100/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4789 - accuracy: 0.7642 - val_loss: 0.4848 - val_accuracy: 0.7663

In [72]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4973 - accuracy: 0.7544 - 699ms/epoch - 3ms/step
Loss: 0.49730998277664185, Accuracy: 0.7544023394584656

In [73]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Optimization.h5')
files.download('/content/AlphabetSoupCharity_Optimization.h5')